<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

 <h2>Product Details</h2>
    <div>
     <!--    <form action="#" th:action="@{/students/add}" th:object="${student}" method="post">
 
            <table border="0" cellpadding="10">
            
           
            
               FirstName: <input type="text" name="firstname" > </input>
	
	Surname: <input type="text" name="surname" ></input>
	
	Score: <input type="text" name="averageScore" ></input>

	<input type="submit" value="Create" />
            </table>
        </form>-->
        
        <form action="add" method="post">
<pre>
    <strong>Create Here | </strong>
		
	HOW_LONG: <input type="text" name="firstname" />
	
	PRICE: <input type="text" name="surname" />
	
	ID_CLASS_TICKET: <input type="text" name="averageScore" />

	<input type="submit" value="Create" />
</pre>
</form>
        
        
    </div>



</body>
</html>