<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Core Online Tutorial - List Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

</head>
<body>

 <h2>Product Details</h2>
    <div>
        <form action="#" th:action="@{/students}" th:object="${student}" method="post">
 
            <table border="0" cellpadding="10">
            
           
            
               FirstName: <input type="text" name="firstname" />
	
	Surname: <input type="text" name="surname" />
	
	Score: <input type="text" name="averageScore" />

	<input type="submit" value="Create" />
            </table>
        </form>
    </div>



</body>
</html>